.logo{
    text-align: center;
}
.header-container img{
    width: 40%;
    
}
.nav-bar{
    background-color: black;
    padding-left:40px;
    line-height: 40px;
}
.nav-bar a{
    margin-right:40px ;
    text-decoration: none;

}
.nav-bar a:hover{
    background-color: gray;
}
.header-container nav a{
    color: white;
}